body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    margin: 10%;
   display: flex;
    
   
    height: 80%;
    width: 80%;
    border-color: black;
    border: 1px solid black;
    border-radius: 6px;

}
.mortgage{
    height: 100%;
    width: 50%;
    
    padding: 4%;
    border-radius: 6px;
}
.results2 {
    background-color: darkblue;
}
.repayments{
    height: 10%;
    width: 80%;
    border: 2px solid rgb(13, 37, 174);
   border-style: groove;
    border-radius: 6px;
    border-top: 6px solid rgb(112, 115, 93);
    margin-bottom: 30%;
    padding: 20px;
    
}

.total1 span{
    font-weight: 600;
}
.Monthly span{
font-weight: 600;
font-size: xx-large;
color: rgb(181, 205, 5);

}
.mortgage h1{
    
    color: rgb(20, 20, 21);
    font-size: 25px;
    
}
.Amount{
    border: 2px solid rgb(152, 198, 14);
    margin: 2px;
 background-color: rgb(152, 198, 14);
 border-radius: 4px;
}
.Amount input{
width: 85%;
height: 20px;
padding-left: 5%;
}
.Amount label{
    padding-right:2%;
}
.results{
    height: 100%;
    width: 50%;
    border: 2px solid  rgb(6, 6, 77);
    padding: 4.5%;
    border-radius: 6px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 0%;
    margin-bottom: calc();
    background-color:  rgb(6, 6, 77);
    color: #ccc;
}
.results p {
    margin: 10%;
    margin-bottom: 10%;
}
.results2{
    height: 100%;
    width: 50%;
    border: 2px solid rgb(13, 37, 174);
    padding: 4.5%;
    border-radius: 6px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 0%;
    color: #ccc;
}
.Terms1{
    margin: 0%;
   display: flex;
   padding-bottom: 5px ;
   
}
.years{
    display: flex;
    border: 2px solid rgb(152, 198, 14);
    margin: 2px;
 background-color: rgb(152, 198, 14);
 border-radius: 4px;
 
}

.years input{
width: 85%;
}

.years label{
    padding-right:2%;
    margin: 2%;
}
    
.Rate{
    display: flex;
    border: 2px solid rgb(152, 198, 14);
    margin: 2px;
 background-color: rgb(152, 198, 14);
 border-radius: 4px;
}
.Rate input{
width: 85%;

}
.clear-link{
    position: fixed;
    right:0;
    margin-right: 55%;

}

.Rate label{
    padding-right:2%;
    margin: 2%;
}
.Repayment{
    display: flex;
    border: 2px solid rgb(152, 198, 14);
    margin: 2px;
 background-color: rgba(93, 117, 21, 0.214);
 border-radius: 4px;
 font-size: x-small;
 height: 5%;

}
.Interest{
    display: flex;
    border: 2px solid rgb(152, 198, 14);
    margin: 2px;
 background-color: rgba(93, 117, 21, 0.214);
 border-radius: 4px;
 font-size: x-small;
 height: 5%;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(152, 198, 14);
    margin: 5px;
    background-color: rgb(152, 198, 14);
    border-radius: 20px;
    height: 25%;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #236518;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }